@font-face {
  font-family: 'Standard';
  font-weight: normal;
  src: url('../fonts/standard-book-webfont.eot');
  src: url('../fonts/standard-book-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/standard-book-webfont.woff2') format('woff2'),
       url('../fonts/standard-book-webfont.woff') format('woff'),
       url('../fonts/standard-book-webfont.ttf')  format('truetype'),
       url('../fonts/standard-book-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Standard';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/standard-book-italic-webfont.eot');
  src: url('../fonts/standard-book-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/standard-book-italic-webfont.woff2') format('woff2'),
       url('../fonts/standard-book-italic-webfont.woff') format('woff'),
       url('../fonts/standard-book-italic-webfont.ttf')  format('truetype'),
       url('../fonts/standard-book-italic-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Standard';
  font-weight: bold;
  src: url('../fonts/standard-bold-webfont.eot');
  src: url('../fonts/standard-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/standard-bold-webfont.woff2') format('woff2'),
       url('../fonts/standard-bold-webfont.woff') format('woff'),
       url('../fonts/standard-bold-webfont.ttf')  format('truetype'),
       url('../fonts/standard-bold-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Standard';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/standard-bold-italic-webfont.eot');
  src: url('../fonts/standard-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/standard-bold-italic-webfont.woff2') format('woff2'),
       url('../fonts/standard-bold-italic-webfont.woff') format('woff'),
       url('../fonts/standard-bold-italic-webfont.ttf')  format('truetype'),
       url('../fonts/standard-bold-italic-webfont.svg#svgFontName') format('svg');
}

html {
  font-family: 'Standard', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 26px;
  margin: 0 0 32px;
}

h2 {
  margin: 3rem 0;
}

p, a, ul li {
  font-size: 18px;
  line-height: 28px;
}

a {
  text-decoration: none;
}

a:hover {
  border-bottom-style: dotted;
}

ul li, !#toc ul li {
  margin-bottom: 1.8rem;
}

#toc ul li {
  margin-bottom: .5rem;
}

ul li a {
  border-bottom: 3px solid var(--purple);
  padding-bottom: 2px;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 34px;
    margin: 0 0 44px;
  }

  p, a, ul li {
    font-size: 21px;
    line-height: 32px;
  }

  #toc ul li {
    margin-bottom: .8rem;
  }
}
